
    <nav id="main-nav">
	<ul>
		<li><%= active_link_to "Imeko 2013", root_path %></li>
		<li><%= active_link_to "Program", program_path %></li>
		<li><%= active_link_to "Registrations", '#' %></li>
		<li><%= active_link_to "Call for Papers", call_for_papers_path %></li>
		<li><%= active_link_to "General Information", info_path %></li>
	</ul>
</nav>

<header id='logo' class="clearfix">
	<figure>
		<%= image_tag('logo.jpg') %>
	</figure>
	<h1 id="logo-text"><a href="index.html" title="">21<sup>TH</sup>IMEKO TC2</a></h1>		
		<p id="intro">Symposium on Photonics in Measurement, Gdansk, 2013</p>

</header>
